.labelColor {
    background: #dbd9d9;
}
.buttonSpace{
    margin-right: 10px;
}
i{
    color: white;
}

input[type=radio] {
    margin-top: 7px;
    border: 0px;
    width: 12px;
    height: 12px;
}

.padLeft{
    padding-left: 18px !important;
}
